html, body {
    background-attachment: fixed;
    /* bg fixed in position as you scroll */
    background-image: url("images/woodenCuttingBoard2.jpg");
    background-repeat: no-repeat;
    /* Do not repeat bg image */
    background-position: center;
    /* Center the bg image */
    background-size: cover;
    /* Scale the bg image to be as large as possible, can also use 100% */
    font-family: "Verdana", "Arial", "Tahoma", "Geneva", sans-serif;
    /* By default there is a little gap around the edge of the webpage */
    margin: 0 0 0 0;
}

/* 
Padding creates extra space within an element, while margin creates extra space around an element! 
*/

h1 {
    /* Pushes the h1 "Favorite Recipes" out to the very edge of the margin set in "html, body" above */
    margin: 0 0 0 0;
    /* Padding gives space between content and border */
    padding: 10px;
    text-align: center;
    background: #2029adab;
    background-size: 100px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    padding-top: 1em;
    /* Move down a little, not too close to the white edge */
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    /* The links initial color */
    color: #202aad;
}

a:hover {
    /* What color the links change to when hovering over it */
    color: #13185a;
}

a:visited {
    /* What color the links are after clicking and visiting them */
    color: purple;
}

nav {
    background: #fffefec0;
    background-size: auto;
    /* width: 15rem; Can change how wide the nav is along the page */
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

nav>ul {
    /* For the unsorted list in nav */
    text-align: center;
    /* center it to the center of page */
    list-style-type: none;
    /* no bullet points */
}

/* This doesn't seem to do anything
nav>* { For everything inside nav
    Push the text inside the navigation to the right a little
    margin-left: 8%;
    margin-right: 8%; Can't actually see this rn, as the text is too left
} */

/* 
display is the type of rendering box of an element.
block - Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width
*/

img {
    display: block;
    /* Set the margin property to auto to horizontally center the element within its container. In this case, center left right of article. */
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 500px;
    /* Blue double border around image */
    border: thick double #09158180;
    /* border-style: outset; */
}

figcaption {
    /* Now caption of image is at center of page */
    text-align: center;
}

article {
    background-color: #fffefec0;
    min-width: 200px;
    max-width: 1200px;
    /* So it won't stick to left edge of page */
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

article h3, ul, ol {
    /* For h3, ul and ol that are inside article */
    margin-left: 8%;
    margin-right: 8%;
}

ol li {
    /* For any li that is under ordered list (essentially the "Steps" part) */
    padding-bottom: 1em;
}

#footer {
    width: 100%;
    height: 60px;
    background: #1782e69c;
    text-align: center;
    font-size: 0.8rem;
}

#footer>p {
    font-style: italic;
}

/* Scenario: 
Your <article> contains several paragraphs of text (<p>). 
You want more space between the individual paragraphs. 
Your "go to" property when needing to adjust positioning should always be margin. 
In this situation, simply adjusting the top or bottom margins ( margin-top margin-bottom) would suffice.
*/